<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-4.0.xsd">

    <context:component-scan base-package="com.learn.mvc.controller"/> <!--使标注Spring注解的类生效-->

    <!--视图名称解析器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"
          p:prefix="/WEB-INF/page/"
          p:suffix=".jsp"
    />
    <!--》》》》》》》》》》》》》》》   添加Freemarker示技术 》》》》》》》》》》》》》》》》》-->
    <!-- Freemarker配置 -->
    <!--    <bean id="freemarkerConfig" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
            <property name="templateLoaderPath" value="/WEB-INF/page/" />
            <property name="defaultEncoding" value="UTF-8"/>
            <property name="freemarkerSettings">
                <props>
                    <prop key="classic_compatible">true</prop>
                </props>
            </property>
        </bean>

        &lt;!&ndash;视图解释器 &ndash;&gt;
        <bean class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver"
            p:order="5"
            p:suffix=".ftl"
            p:contentType="text/html; charset=utf-8"/>-->

    <!--》》》》》》》》》》》》》》》   添加velocity显示技术 》》》》》》》》》》》》》》》》》-->
    <!-- velocity环境配置 -->
    <!--<bean id="velocityConfig" class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
            &lt;!&ndash; velocity配置文件路径  或者直接用velocityProperties属性 &ndash;&gt;
            <property name="configLocation" value="classpath:velocity.properties"/>
            &lt;!&ndash; velocity模板路径 &ndash;&gt;
            <property name="resourceLoaderPath" value="/WEB-INF/templates/"/>
        </bean>
        &lt;!&ndash; velocity视图解析器 &ndash;&gt;
        <bean id="velocityViewResolver" class="org.springframework.web.servlet.view.velocity.VelocityLayoutViewResolver">
            <property name="order" value="0"/>
            <property name="contentType" value="text/html;charset=UTF-8"/>
            <property name="cache" value="true"/>
            <property name="suffix" value=".vm"/>
            <property name="layoutUrl" value="layout/layout.vm"/>
            <property name="exposeSpringMacroHelpers" value="true"/>&lt;!&ndash;是否使用spring对宏定义的支持&ndash;&gt;
            <property name="exposeSessionAttributes" value="true"/>&lt;!&ndash;是否开放request属性&ndash;&gt;
            <property name="requestContextAttribute" value="request"/>&lt;!&ndash;request属性引用名称&ndash;&gt;
            <property name="dateToolAttribute" value="dateTool"/>
            <property name="numberToolAttribute" value="numberTool"/>
        </bean>-->
</beans>