<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd


	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd">


    <!-- aop:config 配置一个基于Schema的切面，aop:config 可以定义多个切面-->
    <aop:config proxy-target-class="true">
        <!--aop:pointcut 配置命名切点,可以被其他增强引用-->
        <aop:pointcut id="greetToPointcut"
                      expression="target(com.aop.learn.service.impl.NativeWaiter) and execution (* greetTo(..))"/>
        <aop:pointcut id="bindParmPointcut"
                      expression="target(com.aop.learn.service.impl.NativeWaiter) and execution (* greetTo(..)) and args(clientName)"/>

        <!--aop:aspect 元素标签定义切面,其内部可以定义多个增强-->
        <aop:aspect ref="adviceMethods">
            <!-- aop:before前置增强 method 增强方法， pointcut 切点表达式-->
            <aop:before method="preGreeting"
                        pointcut-ref="greetToPointcut"/>
            <!-- aop:before后置增强-->
            <aop:after-returning method="afterGreeting"
                                 pointcut="target(com.aop.learn.service.impl.NativeWaiter) and execution (* name(..))"
                                 returning="retVal"/>
            <!-- 测试绑定连接点信息-->
            <aop:after method="bindParmGreet"
                       pointcut-ref="bindParmPointcut"/>
        </aop:aspect>
    </aop:config>

    <!--增强方法所在的Bean-->
    <bean id="adviceMethods" class="com.aop.learn.schema.AdviceMethods"/>
    <bean id="nativeWaiter" class="com.aop.learn.service.impl.NativeWaiter"/>


</beans>